.chat-sidebar {
  overflow: hidden;
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 101;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transform: translate3d(100vw, 0, 0);
  -moz-transform: translate3d(100vw, 0, 0);
  -ms-transform: translate3d(100vw, 0, 0);
  -o-transform: translate3d(100vw, 0, 0);
}
.chat-sidebar.toggled {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
}
.chat-sidebar .chat-list-search {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  height: 55px;
  line-height: 55px;
  padding: 10px 20px ;
  width: 100%;
  background: #fff;
}
.chat-sidebar .list-group {
  margin-top: 55px;
  margin-bottom: 55px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.chat-sidebar .list-group .list-group-item {
  display: block;
  padding: 8px 16px;
  cursor: pointer;
  border-bottom: 1px solid #edecec;
}
.chat-sidebar .list-group .list-group-item:last-child {
  border-bottom: 0;
}
.chat-sidebar .list-group .list-group-item .row-picture {
  float: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.chat-sidebar .list-group .list-group-item .row-picture i {
  border: 2px solid #fff;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  right: 15px;
  top: 8px;
  width: 10px;
}
.chat-sidebar .list-group .list-group-item .row-picture i.online {
  background: #1ec01e;
  box-shadow: 0 0 0 1px #1ec01e;
}
.chat-sidebar .list-group .list-group-item .row-picture i.busy {
  background: orange;
  box-shadow: 0 0 0 1px orange;
}
.chat-sidebar .list-group .list-group-item .row-picture i.offline {
  background: red;
  box-shadow: 0 0 0 1px red;
}
.chat-sidebar .list-group .list-group-item .row-content {
  display: block;
  float: right;
  float: none;
  display: inline-block;
  vertical-align: middle;
  min-height: 0;
  width: calc(100% - 80px);
  /* padding-top: 12px; */

}
.chat-sidebar .list-group .list-group-item .row-content .list-group-title {
  display: block;
  overflow: hidden;
  /*white-space: nowrap;*/

  color: #000;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.4;
}
.chat-sidebar .list-group .list-group-item .row-content .list-group-title small {
  font-weight: normal;
  font-size: 13px;
}
.chat-sidebar .list-group .list-group-item .row-content .list-group-details {
  color: #999999;
  display: block;
  font-size: 12px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.chat-sidebar .list-group .list-group-item .row-content .list-group-details i {
  font-size: inherit !important;
}
.chat-sidebar .notifications-list-item {
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  cursor: auto !important;
}
.chat-sidebar .notifications-list-item:hover {
  background: #FAFAFA;
}
.chat-sidebar .notifications-list-item.accept-action,
.chat-sidebar .notifications-list-item.accept-action:hover {
  background: rgba(76, 175, 80, 0.2) !important;
}
.chat-sidebar .notifications-list-item.refuse-action,
.chat-sidebar .notifications-list-item.refuse-action:hover {
  background: rgba(244, 67, 54, 0.2) !important;
}
.chat-sidebar .notifications-list-resume {
  position: relative;
}
.chat-sidebar .notifications-list-resume .list-group-details {
  height: 30px;
  line-height: 30px;
}
.chat-sidebar .notifications-buttons {
  position: absolute;
  right: 10px;
  top: 0px;
}
.chat-sidebar .btn.btn-fab.btn-fab-mini {
  width: 25px;
  height: 25px;
  padding: 0;
  padding-top: 3px;
  margin: 0 3px;
}
.chat-sidebar .btn.btn-fab.btn-fab-mini i:before {
  font-size: 18px !important;
}
.tab-nav {
  font-family: "Open Sans";
  position: relative;
  z-index: 10;
  width: 100%;
  height: 55px;
  line-height: 55px;
  list-style: none;
  padding: 0;
  white-space: nowrap;
  margin: 0;
  overflow: auto;
  -webkit-box-shadow: inset 0 -2px 0 0 #edecec;
  -moz-box-shadow: inset 0 -2px 0 0 #edecec;
  box-shadow: inset 0 -2px 0 0 #edecec;
  text-align: center;
}
.tab-nav > li {
  display: inline-block;
  vertical-align: top;
}
.tab-nav > li > a {
  text-decoration: none;
  display: inline-block;
  color: #999999;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  font-weight: 500;
  padding: 0 16px;
  /* padding: 0 10px; */

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
.tab-nav > li > a:after {
  content: "";
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
.tab-nav > li > a:hover {
  color: #000;
}
.tab-nav > li.active > a {
  color: #000;
}
.tab-nav > li.active > a:after {
  background: #f7931d;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.panel-list,
.panel-chat {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.opened-chat .panel-list {
  left: -100%;
}
.opened-chat .panel-chat {
  left: 0;
}
.panel-chat {
  left: 100%;
  /*BULLES DE CHAT*/

}
.panel-chat .panel-chat-message {
  margin-top: 55px;
  margin-bottom: 55px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
}
.panel-chat .panel-chat-message .chat-message-topbar {
  background: #fff;
  padding: 15px 20px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.panel-chat .panel-chat-message .chat-message-topbar a.chat-message-back {
  font-size: 12px;
  color: #999999;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
.panel-chat .panel-chat-message .chat-message-topbar a.chat-message-back i {
  margin-right: 5px;
  font-size: 16px;
  position: relative;
  top: -2px;
}
.panel-chat .panel-chat-message .chat-message-topbar a.chat-message-back:hover {
  color: #000;
}
.panel-chat .panel-chat-message .chat-message-topbar .chat-message-actions a {
  color: #999999;
  font-size: 12px;
  margin-right: 10px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
.panel-chat .panel-chat-message .chat-message-topbar .chat-message-actions a:hover {
  color: #000;
}
.panel-chat .panel-chat-message .chat-message-content {
  overflow-x: hidden;
  padding: 20px 30px 20px 40px;
}
.panel-chat .chat-from-me-content,
.panel-chat .chat-from-them-content {
  border-radius: 5px;
  max-width: 100%;
  padding: 10px 20px;
  position: relative;
  word-wrap: break-word;
  margin-bottom: 10px;
  color: #fff;
}
.panel-chat .chat-from-me-content:after,
.panel-chat .chat-from-them-content:after {
  content: "";
  position: absolute;
  background: #fff;
  bottom: -2px;
  height: 20px;
  width: 26px;
  z-index: 3;
}
.panel-chat .chat-from-me-content:before,
.panel-chat .chat-from-them-content:before {
  content: "";
  bottom: -2px;
  height: 20px;
  position: absolute;
  z-index: 2;
}
.panel-chat .chat-from-me-content {
  background: #42a5f5;
  float: right;
  transform-origin: 100% 100% 0;
}
.panel-chat .chat-from-me-content:after {
  border-bottom-left-radius: 10px;
  right: 4px;
  -webkit-transform: translate(30px, -2px);
  -moz-transform: translate(30px, -2px);
  -ms-transform: translate(30px, -2px);
  -o-transform: translate(30px, -2px);
}
.panel-chat .chat-from-me-content:before {
  border-right: 20px solid #42a5f5;
  right: -15px;
  -webkit-transform: translate(0px, -2px);
  -moz-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  -o-transform: translate(0px, -2px);
}
.panel-chat .chat-from-them-content {
  background: #f7931d;
  float: left;
  transform-origin: 0 100% 0;
}
.panel-chat .chat-from-them-content:after {
  border-bottom-right-radius: 10px;
  left: 4px;
  -webkit-transform: translate(-30px, -2px);
  -moz-transform: translate(-30px, -2px);
  -ms-transform: translate(-30px, -2px);
  -o-transform: translate(-30px, -2px);
}
.panel-chat .chat-from-them-content:before {
  border-left: 20px solid #f7931d;
  left: -15px;
  -webkit-transform: translate(0px, -2px);
  -moz-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  -o-transform: translate(0px, -2px);
}
.panel-chat .chat-from-them-content .photo {
  bottom: 2px;
  left: -34px;
  max-width: 30px;
  position: absolute;
  z-index: 4;
}
.sidebar-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  cursor: pointer;
  display: none;
}
.no-message-found {
  color: #999999;
  text-align: center;
  margin-top: 15px;
}