@import 'config';

.mc_embed_signup {
  background: rgba(black, 0.5);
  padding: 20px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  label {
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    color: $white;
    display: block;
    font-size: 25px;
  }
  input {
    height: 50px;
    border: none;
    transition-duration: 250ms;
    &[type=email] {
      background: $white;
      color: $black;
      height: 30px;
      padding: 10px;
      width: 200px;
    }
    &[type=submit] {
      width: 150px;
      @include mq(0, desktop) {
        width: 220px;
        margin-top: 10px;
      }
      background: $black;
      color: $green;
      border: 3px $green solid;
      &:hover {
      background: $green;
      color: $black;
      }
    }
  }
}