@import 'config';

.title {
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
  background-image: url(/resources/satstras.jpg);
  text-align: center;
  position: relative;
  z-index: 0;
  .filter {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(black, 0.5);
    z-index: -1;
  }
  .logo {
    img {
      height: 250px;
      margin-top: 40px;
      margin-bottom: 30px;
    }
    h1 {
      display: inline-block;
      overflow:hidden;
      font-family: norwester;
      border-top: 5px $green solid;
      border-bottom: 5px $green solid;
      padding: 5px 20px;
      color: $green;
      white-space: nowrap;
      @include mq(0, desktop) {
        white-space: initial;
      }
      @include mq(desktop, wide) {
        font-size: 70px;
      }
      @include mq(tablet, desktop) {
        font-size: 50px;
      }
      @include mq(0, tablet) {
        font-size: 40px;
      }
    }
  }
  .edgefest {
    margin-top: 15px;
    a {
      text-decoration: none;
    }
    span {
      color: #2E68D8;
    }
    h1 {
      font-size: 23px;
      color: $white;
      display: inline-block;
    }
    img {
      height: 25px;
    }
  }
  h2 {
    text-align: center;
    color: $white;
    font-size: 30px;
    margin-top: 30px;
    span {
      color: $green;
      background: rgba(black, 0.6);
      padding: 5px;
    }
  }
  .join {
    display: inline-block;
    margin-bottom: 40px;
    button {
      background: $green;
      color: $black;
      border: 7px $green solid;
      &:hover {
        background: $black;
        color: $green;
      }
    }
  }
}